# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt
!adr-simulation.cc
!adr-simulation_copy.cc
!concepts/
!test.cc